@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #134E4A;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-primary;
    font-family: 'Castoro', sans-serif;
  }

  h1 {
    @apply text-4xl font-bold md:text-5xl;
  }

  h2 {
    @apply text-3xl font-bold md:text-4xl;
  }

  h3 {
    @apply text-2xl font-bold md:text-3xl;
  }

  h4 {
    @apply text-xl font-bold;
  }

  h5 {
    @apply text-lg font-bold;
  }

  body {
    font-family: 'Lato', sans-serif;
  }

  .page-section {
    @apply p-[1.875rem] md:p-0 mx-auto max-w-[600px];
  }
}
