---
import Header from './components/Header/index.astro';
import Footer from './components/Footer/index.astro';

import '@fontsource/castoro';
import '@fontsource/lato';

import '@/styles/globals.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Trainerz</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
